// 首頁第一個區塊
.bg-primary-to-black-vertical{
    background: linear-gradient(180deg, $primary 0%, #11002D 100%);
} 
// 左到右 首頁上方兩個section 裡面的長條 bar
.bg-primary-to-black-horizontal{
    background: linear-gradient(90deg, $primary 0%, #11002D 100%);
} 
.bg-black-to-purple-radial{
    background: radial-gradient(#28085C 0%, $black 100%);
}

.bg-purple-to-black-radial{
    background: radial-gradient($black 0%, #28085C 100%);
}

.bg-purple-to-black-y {
    @include gradient-y($primary, $primary-dark)
}

// 字重
.fw-900{
    font-weight: 900;
}

// 字距
.ls-lg-48-sm-40{
    letter-spacing: 40px;
}

.scroll-none{
    overflow: hidden;
}
.z-index-1{
    z-index:1;
}
.bg-cover{
    background-repeat: no-repeat;
    background-size: cover;
}
@include media-breakpoint-up(xl) {
    // 字距
    .ls-lg-48-sm-40{
        letter-spacing: 48px;
    }

}
