<footer class="container">
    <div class="px-28 px-lg-0 d-lg-flex justify-content-between align-items-center py-lg-52 py-40">
        <div>
            <h3 class="fs-2 mb-lg-0">ALPHABOX+</h3>
            <p class="font-noto-sans fw-bold mb-0 d-none d-lg-block">Copyright © 2023 Hexschool.</p>
        </div>
        <span class="material-icons fs-80 lh-1 mb-2 mb-lg-0">
            emergency
        </span>
        <ul class="list-unstyled d-lg-flex fw-bold mb-0">
            <li class="me-4 mb-2 mb-lg-0"><a href="#">關於我們</a></li>
            <li class="me-4 mb-2 mb-lg-0"><a href="#">產品資訊</a></li>
            <li class="me-4 mb-2 mb-lg-0"><a href="#">常見問題</a></li>
            <li class="mb-2 mb-lg-0"><a href="#">隱私政策</a></li>
        </ul>
        <p class="font-noto-sans fw-bold mb-0 d-lg-none">Copyright © 2023 Hexschool.</p>
    </div>
</footer>