<header class="bg-primary">
    <nav class="container navbar navbar-expand-lg navbar-dark bg-primary d-flex justify-content-between">
        <a class="navbar-brand text-white fs-2" href="#">ALPHABOX+</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarToggler">
          <span class="navbar-toggler-icon"></span>
        </button>
        </ul>
        <div class="collapse navbar-collapse nav-bg" id="navbarToggler">
          <ul class="navbar-nav mx-lg-auto me-auto mb-2 mb-lg-0 gap-2 pt-4 pt-lg-0 gap-lg-4">
            <li class="nav-item">
              <a class="nav-link text-white text-center"  href="#">產品</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center"  href="#">關於我們</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center"  href="#">最新消息</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center"  href="#">FAQ</a>
            </li>
            <li class="nav-item">
              <a class="nav-link text-white text-center"  href="#">聯絡我們</a>
            </li>
          </ul>

          <ul class="navbar-nav gap-2 pb-4 pb-lg-0 gap-lg-2 d-flex align-items-center">
            <li class="nav-item">
              <a class="nav-link text-white text-center"  href="#">註冊</a>
            </li>
            <li class="nav-item me-lg-2">
              <a class="nav-link text-white text-center"  href="#">登入</a>
            </li>
            <li class="nav-item d-flex justify-content-center">
              <a class="btn btn-light text-dark text-center bg-white px-4  d-flex justify-content-center align-items-center"  href="#">
                <i class="material-symbols-outlined me-1">
                  point_scan
                  </i>
                訂閱
              </a>
            </li>
          </ul>
        </div>
    </nav>
</header>