
.long-arrow{
    width: 90px;
    height: 24px; 
}

.arrow-circle{
    width: 109px;
    height: 109px;
    margin-bottom: 24px;
    content: url('../images/circle_mobile.png');
}

.down-arrow{
    position: absolute;
    left: 50%; 
    transform: translateX(-50%);
    bottom: 9.5%;
}

@include media-breakpoint-up(lg) {
    .long-arrow{
        width: 313px; 
        height: 22px;
        object-fit: cover;
    }

    .arrow-circle{
        width: 196px; 
        height: 196px;
        position: absolute;
        left: 50%; 
        bottom: 0; 
        transform: translateX(-50%);
        margin-bottom: 60px;
        content: url('../images/circle.png');
    }

    .down-arrow{
        bottom: 14%;
    }
}
