<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <style>
     
      
    </style>
  </head>
  <body>
    <%- include('./layout/header'); -%>
    <section class="scroll-none bg-purple-to-black-radial pt-lg-160 pb-lg-40 pt-60 pb-80 text-white position-relative">
      <div class="container">
        <div class="d-lg-flex align-items-center mb-3">
          <h2 class="fs-lg-48 fs-1 mb-0 me-lg-214 fw-bold ls-lg-48-sm-40">使用分享</h2>
          <span class="fw-bold d-lg-block d-none">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</span>
        </div>
        <span class="font-noto-sans d-flex align-items-center mb-lg-40 mb-4">01
          <span class="material-icons mx-1">
            horizontal_rule
          </span>
          04</span>
       
        <p class="fw-bold d-lg-none mb-4">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
              
        <span class="material-icons fs-80 lh-1 mb-4">
          emergency
        </span>
        <div class="row row-cols-1 font-noto-sans fw-bold gy-4 d-lg-none">
          <div class="col">
            <div class="card-square bg-secondary p-4 d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Zona
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Taipei
              </h3>
              <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
              
              <div class="mt-auto d-flex align-items-center">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span>ALPHABOX+ Dianne</span>
              </div>
            </div>
          </div>
          <div class="col text-dark">
            <div class="card-square bg-white p-4 d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Lin 
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Chiayi
              </h3>
              <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              
              <div class="mt-auto d-flex align-items-center">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span>ALPHABOX+ Felix</span>
              </div>
            </div>
          </div>
          <div class="col">
            <div class="card-square bg-secondary p-4 d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                云
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Taipei
              </h3>
              <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              
              <div class="mt-auto d-flex align-items-center">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span>ALPHABOX+ Dianne</span>
              </div>
            </div>
          </div>
          <div class="col text-dark">
            <div class="card-square bg-white p-4 d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Zichi 
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Kaohsiung
              </h3>
              <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              
              <div class="mt-auto d-flex align-items-center">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span>ALPHABOX+ Vito</span>
              </div>
            </div>
          </div>
        </div>
        <div class="swiper d-lg-block d-none">
          <div class="swiper-wrapper">
            <div class="swiper-slide fw-bold bg-secondary p-40 d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Zona
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Taipei
              </h3>
              <p>ALPHABOX+ 真的很夯！每次把它打開，感覺就像是身臨其境一樣。它陪我度過了很多寂寞的時光，讓我在家裡也能享受到優質的休閒時光。</p>
              
              <div class="mt-auto">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="font-noto-sans">ALPHABOX+ Dianne</span>
              </div>
            </div>
            <div class="swiper-slide fw-bold bg-white p-40 text-dark  d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Lin
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Chiayi
              </h3>
              <p>非常推薦！它的畫面清晰度超高，真的讓我驚艷不已。而且它還可以和我互動，感覺就像是有個真實的朋友在身邊。</p>
              <div class="mt-auto">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="font-noto-sans">ALPHABOX+ Felix</span>
              </div>
            </div>
            <div class="swiper-slide fw-bold bg-secondary p-40 d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                云
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Taipei
              </h3>
              <p>我之前一直在找能陪伴我度過空虛時光的好夥伴，直到遇見 ALPHABOX+。它不僅僅是一個機器人，更像是一個真正的朋友，陪著我分享喜怒哀樂。真的很讚！</p>
              
              <div class="mt-auto">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="font-noto-sans">ALPHABOX+ Dianne</span>
              </div>
             
            </div>
            <div class="swiper-slide fw-bold bg-white p-40 text-dark d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Zichi
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Kaohsiung
              </h3>
              <p>讓我在忙碌的工作之餘，也能找到休閒的樂趣。它的互動功能非常有趣，讓我在短短的時間內就愛上了它。給它一百分！</p>
              
              <div class="mt-auto">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="font-noto-sans">ALPHABOX+ Vito</span>
              </div>
            </div>
          </div>
          <div class="swiper-scrollbar"></div>
        </div>
        <div class="row mt-lg-n3">
          <div class="col-8"></div>
          <div class="col-4">
            <span class="font-noto-sans fw-bold  d-none d-lg-block">SCROLL</span>
          </div>
        </div>
        <p class="pt-136 mb-0 fw-bold d-none d-lg-block">若您有任何疑問或建議，歡迎隨時與我們聯絡，我們將竭誠為您解答。</p>
      </div>
      <span class="bg-text">ALPHABOX+</span>
    </section>
    
    <div class="bg-primary-to-black-vertical py-100 text-white container">
      <h2>主要改了什麼內容?</h2>
      <ul class="font-noto-sans">
        <li>已安裝 google icon</li>
        <li>varible.scss 有修改的內容 我註記了 客製化 搜尋 客製化 三個關鍵字可以了解哪些地方有更改</li>
        <li>英文全部設定 .shrikhand 中文則是 .noto-sans 設計稿不是每個英文字都是 .shrikhand 可以自行添加.noto-sans </li>
        <li>文字可以使用響應式斷點 .fs-3 是手機格式 .fs-lg-4 是桌機</li>
      </ul>
      <h2 class="fs-lg-48 fs-4">.bg-primary-to-black-vertical 首頁第一個區塊 上到下漸層</h2>
    </div>
    <div class="bg-primary-to-black-horizontal py-100 text-white container">
      <h2>.bg-primary-to-black-horizontal 左到右 首頁上方兩個section 裡面的長條 bar</h2>
    </div>
    <div class="bg-black-to-purple-radial py-100 text-white container font-noto-sans">
      <h2 class="fw-900">輻射中心外層黑中心紫 思源黑體 ALPHABOX+</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates voluptatibus ad delectus aperiam beatae similique, deserunt blanditiis minus architecto sit deleniti pariatur, tenetur vel doloremque amet soluta quo corrupti.
    </div>
    </div>
   
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script>
      
    </script>
  </body>
</html>
