<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <div class="bg-primary-to-black-vertical py-100 text-white container">
      <h2>主要改了什麼內容?</h2>
      <ul class="font-noto-sans">
        <li>已安裝 google icon</li>
        <li>varible.scss 有修改的內容 我註記了 客製化 搜尋 客製化 三個關鍵字可以了解哪些地方有更改</li>
        <li>英文全部設定 .shrikhand 中文則是 .noto-sans 設計稿不是每個英文字都是 .shrikhand 可以自行添加.noto-sans </li>
        <li>文字可以使用響應式斷點 .fs-3 是手機格式 .fs-lg-4 是桌機</li>
      </ul>
      <h2 class="fs-lg-48 fs-4">.bg-primary-to-black-vertical 首頁第一個區塊 上到下漸層</h2>
    </div>
    <div class="bg-primary-to-black-horizontal py-100 text-white container">
      <h2>.bg-primary-to-black-horizontal 左到右 首頁上方兩個section 裡面的長條 bar</h2>
    </div>
    <div class="bg-black-to-purple-radial py-100 text-white container font-noto-sans">
      <h2 class="fw-900">輻射中心外層黑中心紫 思源黑體 ALPHABOX+</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Labore voluptates voluptatibus ad delectus aperiam beatae similique, deserunt blanditiis minus architecto sit deleniti pariatur, tenetur vel doloremque amet soluta quo corrupti.
    </div>
    </div>
    <div class="bg-purple-to-black-radial py-100 text-white container">
      <h2 class="fw-900">輻射中心外層紫中心黑</h2>
      Lorem ipsum dolor sit amet consectetur adipisicing elit. Veritatis temporibus quo corporis, perferendis veniam aliquam deserunt distinctio ullam alias ab laborum libero, animi blanditiis id aliquid rem deleniti eos soluta.
      <button type="button" class="btn-pill active">測試用</button>
      <span class="material-icons">
        account_circle
        </span>
        <span class="material-icons">pie_chart</span>

    </div>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
