<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-dark">
      <div class="js-btn-list container py-3 d-flex justify-content-between justify-content-lg-center container-fluid">
        <button type="button" class="btn-pill me-lg-4 active">Diane</button>
        <button type="button" class="btn-pill me-lg-4">Felix</button>
        <button type="button" class="btn-pill me-lg-4">Karina</button>
        <button type="button" class="btn-pill">Vito</button>
      </div>
      <div class="text-white position-relative">
        <div class="row row-cols-1 row-cols-lg-2 gx-0">
          <div class="col bg-cover js-product-img py-158 py-lg-0" style="background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square1.png?raw=true');">
            <div class="px-lg-1 h-100 d-flex align-items-center justify-content-between js-arrow-btns">
              <a href="#" class="btn btn-arrow-left border-0 disabled">
                <img src="../assets//images/leftArrow.svg" alt="往左箭頭圖示">
              </a>
              <a href="#" class="btn btn-arrow-right border-0">
                <img src="../assets//images/rightArrow.svg" alt="往右箭頭圖示">
              </a>
            </div>
          </div>
          <div class="col">
            <div class="px-lg-40 px-12 pt-lg-321 pb-lg-404 py-3 js-product-content">
              <h2 class="fs-lg-64 fs-1 mb-lg-4 mb-0">Diane</h2>
              <p class="mb-0 fw-bold">知識型</p>
              <p class="mb-lg-3 mb-2">學術領導/知識分享/智能問答</p>
              <img src="../assets/images/line_end_arrow_notch.svg" class="long-arrow" alt="箭頭圖示">
            </div>
          </div>
        </div>

        <div class="text-center">
          <img src="../assets/images/circle.png" alt="圓圈箭頭" class="arrow-circle">
        </div>

        <span class="material-icons-outlined fs-lg-40 fs-22 down-arrow">
          arrow_downward
        </span>
      </div>
    </section>
    <section class="container pt-lg-80 pb-lg-120 pt-60 pb-80 font-noto-sans">
      <div class="row row-cols-1 row-cols-lg-3 mb-lg-120 mb-32">
        <div class="col">
          <h2 class="fs-5 mb-lg-32 mb-4 d-flex align-items-center">
            <span class="material-icons fs-40 lh-1 me-12">
              emergency
            </span>
            學術領導/知識分享/智能問答
          </h2>
          <p>歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！</p>
        </div>
        <div class="col d-none d-lg-block"></div>
        <div class="col text-end d-none d-lg-block">
          <span class="fs-5 ">ALPHABOX+</span>
        </div>
      </div>
      <ul class="row list-unstyled row-cols-lg-3 row-cols-1 gx-4 gy-lg-104 gy-4 mb-0">
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">先進的3D投影技術</h3>
          <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">人性化的互動設計</h3>
          <p>Diane 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Diane 進行自然、流暢的對話。</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">豐富的應用場景</h3>
          <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">高度自主性</h3>
          <p>Diane 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">簡單易用的操作界面</h3>
          <p class="mb-0">Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
        </li>
      </ul>
    </section>
    
    <section class="bg-black-to-purple-radial pt-lg-160 pt-60 pb-lg-216 pb-80 text-white">
      <div class="container">
        <h2 class="fs-lg-48 fs-1 mb-lg-12 mb-3 fw-bold ls-lg-48-sm-40">使用分享</h2>
        <div class="row">
          <div class="col-lg-4">
            <p class="mb-0">展示其他使用者對於產品的真實體驗與評價，讓您更加放心選擇。</p>
          </div>
        </div>
              
        <ul class="row row-cols-lg-3 row-cols-1 font-noto-sans fw-bold gy-4 list-unstyled mt-lg-80 mt-4 mb-0">
          <li class="col mt-0 mt-lg-4">
            <div class="card-square bg-secondary d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Zichi
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Kaohsiung
              </h3>
              <p>自從家裡有了Felix，孩子們的學習興趣提高了不少，他們都喜歡透過Felix的3D立體投影來探索新知識，家庭氛圍變得更加和樂融融！</p>
              
              <div class="mt-auto d-flex align-items-center">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span>ALPHABOX+ Felix</span>
              </div>
            </div>
          </li>
          <li class="col text-dark">
            <div class="card-square bg-white d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                Lee 
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Chiayi
              </h3>
              <p>自從公司引入 Felix，員工的工作效率提升了很多。Felix 不僅能快速回應我們的需求，還可以協助我們做各種商業展示，真的是企業的好幫手！</p>
              
              <div class="mt-auto d-flex align-items-center">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span>ALPHABOX+ Felix</span>
              </div>
            </div>
          </li>
          <li class="col">
            <div class="card-square bg-secondary d-flex flex-column">
              <h3 class="fs-6 font-noto-sans fw-bold mb-32">
                瑞
                <span class="material-icons fs-8 lh-1 mx-2">
                  fiber_manual_record
                </span> 
                Taipei
              </h3>
              <p>Felix 讓教學變得更生動有趣，學生們在課堂上的參與度和學習效果都有顯著提升。我非常推薦Felix給所有的教育工作者！</p>
              
              <div class="mt-auto d-flex align-items-center">
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span class="material-icons fs-6 lh-1 me-3">
                  fiber_manual_record
                </span> 
                <span>ALPHABOX+ Felix</span>
              </div>
            </div>
          </li>
        </ul>
     
      </div>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
    <script>
      const btnList = document.querySelector('.js-btn-list');
      const btns = btnList.querySelectorAll('*');
      const btnLeftArrow = document.querySelector('.btn-arrow-left');
      const btnRightArrow = document.querySelector('.btn-arrow-right');
      const productImg = document.querySelector('.js-product-img');
      const productContent = document.querySelector('.js-product-content');

      const robotData = [
        {
          name: 'Diane',
          type: '知識型',
          function: '學術領導/知識分享/智能問答',
          url1: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square1.png?raw=true',
          url2: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square2.png?raw=true'
        },
        {
          name: 'Felix',
          type: '娛樂型',
          function: '音樂播放/語音互動/遊戲陪伴',
          url1: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix_square1.png?raw=true',
          url2: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/felix_square2.png?raw=true'
        },
        {
          name: 'Karina',
          type: '生活型',
          function: '健康提醒/日程安排/智能家居',
          url1: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina_square1.png?raw=true',
          url2: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/karina_square2.png?raw=true'
        },
        {
          name: 'Vito',
          type: '情感型',
          function: '情感識別/心情分析/心靈支持',
          url1: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_square1.png?raw=true',
          url2: 'https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/vito_square2.png?raw=true'
        }
      ]

      btnList.addEventListener('click',e=>{
        
        if(e.target.nodeName === 'BUTTON'){
          e.preventDefault()
          
          productContent.style.opacity = '0';
          productContent.classList.remove('fade-animation')  

          setTimeout(()=>{
            productContent.classList.add('fade-animation');  
            productContent.style.opacity = '1';

          }, 300)
        
          // 移除所有 active
          btns.forEach(item=>{
            item.classList.remove('active')
          })

          btnLeftArrow.classList.add('disabled')
          btnRightArrow.classList.remove('disabled')
          e.target.classList.add('active')

          const index = robotData.findIndex(robot => robot.name === e.target.textContent);

          productImg.style.backgroundImage = `url(${robotData[index].url1})`;
          productContent.innerHTML = `<h2 class="fs-lg-64 fs-1 mb-lg-4 mb-0">${e.target.textContent}</h2>
              <p class="mb-0 fw-bold">${robotData[index].type}</p>
              <p class="mb-lg-3 mb-2">${robotData[index].function}</p>
              <img src="../assets/images/line_end_arrow_notch.svg" class="long-arrow" alt="箭頭圖示">`;
        }
      })

      // 左箭頭
      btnLeftArrow.addEventListener('click',e=>{
        e.preventDefault()

        btnRightArrow.classList.remove('disabled')
        btnLeftArrow.classList.add('disabled')

        btns.forEach(item=>{
          if(item.classList.contains('active')){
            const index = robotData.findIndex(robot=> robot.name === item.textContent)
            productImg.style.backgroundImage = `url(${robotData[index].url1})`;
          }
        })
      })

      // 右箭頭
      btnRightArrow.addEventListener('click',e=>{
        e.preventDefault()

        btnLeftArrow.classList.remove('disabled')
        btnRightArrow.classList.add('disabled')

        btns.forEach(item=>{
          if(item.classList.contains('active')){
            const index = robotData.findIndex(robot=> robot.name === item.textContent);
            productImg.style.backgroundImage = `url(${robotData[index].url2})`
          }
        })
      })
    </script>
  </body>
</html>
