<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>index</title>
    <style>
    
    </style>
  </head>
  <body>
    <%- include('./layout/header'); -%>

    <section class="bg-dark">
      <div class="container text-center py-3">
        <button type="button" class="btn-pill me-4">Diane</button>
        <button type="button" class="btn-pill me-4">Felix</button>
        <button type="button" class="btn-pill me-4">Karina</button>
        <button type="button" class="btn-pill">Vito</button>
      </div>
      <div class="container-fluid text-white position-relative">
        <div class="row">
          <div class="col bg-cover" style="background-image: url('https://github.com/hexschool/2022-web-layout-training/blob/main/week8-ai/diane_square1.png?raw=true');">
            <div class="px-3 h-100 d-flex align-items-center justify-content-between">
              <a href="#" class="btn-arrow-left">
                <img src="../assets//images/leftArrow.svg" alt="往左箭頭圖示">
              </a>
              <a href="#" class="btn-arrow-right">
                <img src="../assets//images/rightArrow.svg" alt="往右箭頭圖示">
              </a>
            </div>
          </div>
        
          <div class="col">
            <div class="px-40 pt-321 pb-404">
              <h2 class="fs-64">Diane</h2>
              <p class="mb-0 fw-bold">知識型</p>
              <p>學術領導/知識分享/智能問答</p>
              <img src="../assets/images/line_end_arrow_notch.svg" class="object-fit-cover arrow" alt="箭頭圖示">
            </div>
          </div>
        </div>

        <!-- bottom: 5%; -->
        <img src="../assets/images/Linked Path Group.png" alt="圓圈箭頭" style="width: 196px;" class="position-absolute start-50 bottom-0 translate-middle-x mb-60">

        <span class="material-icons-outlined fs-40 position-absolute start-50 translate-middle-x" style="bottom: 14%;">
          arrow_downward
        </span>
      </div>
    </section>
    <section class="container pt-lg-80 pb-lg-120 pt-60 pb-80 font-noto-sans">
      <div class="row row-cols-1 row-cols-lg-3 mb-lg-120 mb-32">
        <div class="col">
          <h2 class="fs-5 mb-lg-32 mb-4 d-flex align-items-center">
            <span class="material-icons fs-40 lh-1 me-12">
              emergency
            </span>
            學術領導/知識分享/智能問答
          </h2>
          <p>歡迎來到ALPHABOX+的全新世界！在這裡，我們很榮幸地向您介紹我們的最新力作 - 3D立體投影機器人 Felix！</p>
        </div>
        <div class="col d-none d-lg-block"></div>
        <div class="col text-end d-none d-lg-block">
          <span class="fs-5 ">ALPHABOX+</span>
        </div>
      </div>
      <ul class="row list-unstyled row-cols-lg-3 row-cols-1 gx-4 gy-lg-104 gy-4 mb-0">
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">先進的3D投影技術</h3>
          <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">人性化的互動設計</h3>
          <p>Diane 具有高度智能的語音辨識和回應功能，您可以像跟朋友聊天一樣，與 Diane 進行自然、流暢的對話。</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">豐富的應用場景</h3>
          <p>Diane 搭載了最新的 3D 投影技術，能夠將虛擬影像清晰地呈現在您的現實空間中，讓您感受身臨其境的體驗！</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">高度自主性</h3>
          <p>Diane 具有強大的自主學習能力，能夠不斷地學習並優化自己，為您創造更加便捷、貼心的生活方式。</p>
        </li>
        <li class="col card-bottom-line">
          <h3 class="fw-bold fs-6 mb-lg-4 mb-3">簡單易用的操作界面</h3>
          <p class="mb-0">Diane 擁有直觀的操作界面，讓您可以輕鬆地掌握並運用它的各種功能。</p>
        </li>
      </ul>
    </section>
    <%- include('./layout/footer'); -%>

    <script type="module" src="../main.js"></script>
  </body>
</html>
